<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Dashboard SUS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>Dashboard de Dados do SUS</h1>
    <p>Escolha o tipo de visualização:</p>

    <div class="cards">

        <!-- CARD GRÁFICOS -->
       <a href="{{ url_for('graficos_page') }}" class="card">
            <h2>📊 Visualizações Gráficas</h2>
            <p>Explore dados em gráficos interativos.</p>
        </a>

        <!-- CARD MAPAS -->
        <a href="{{ url_for('mapas') }}" class="card">
            <h2>🌎 Visualização Geográfica</h2>
            <p>Veja os dados em mapas e análises espaciais.</p>
        </a>

    </div>

</div>

</body>
</html>
